#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
	font-family: sans-serif;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem; /* Spacing between elements */
}

.item {
	width: 50%;
	margin: 0 auto;
}
